{% extends "layout.html.twig" %}
{% block stylesheets %}
  {{ parent() }}

  <link rel="stylesheet" href="{{ asset('css/materialize.css') }}">
  <script rel="text/javascript" src="{{ asset('js/materialize.js') }}"></script>
  <link rel="stylesheet" href="{{ asset('css/evenement.css') }}"/>



{% endblock stylesheets %}
{% block tittle %}<title>Evenement</title>{% endblock tittle %}


{% block all %}


<div id="contenu">


    <div class="grid col s12 m9">
        <ul class="tabs">
            <li class="tab col s3"><a class="" href="#past">Passé</a></li>
            <li class="tab col s3"><a class="active" href="#today">Aujourd'hui</a></li>
            <li class="tab col s3"><a class="" href="#futur">Future</a></li>
            <li class="tab col s3"><a class="" href="#propose">Proposé</a></li>
        </ul>

        <div class="row" id="past">
            {% for evenement in listEvenement %}

                <div class="col l4 m6 s12 card-max">
                    <div class="card" style="overflow: hidden;">
                        <div class="card-image">
                            <img style="max-width: 100%; height: auto" src="../img/not_found.png">
                        </div>
                        <div class="card-content large">
                            <span class="card-title activator grey-text text-darken-4"></span>
                            <p class="activity-descr"></p>
                            <p class="date"></p>
                        </div>
                        <div class="card-action">
                            <a href="#">S'inscrire</a>
                            <p class="prix"></p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="row" id="today" style="height:100%;">
            {% for evenement in listEvenement %}

                <div class="col l4 m6 s12 card-max">
                    <div class="card" style="overflow: hidden;">
                        <div class="card-image">
                            <img style="max-width: 100%; height: auto" src="{{ asset(''~ evenement.photo ~'') }}">
                        </div>
                        <div class="card-content large">
                            <span class="card-title activator grey-text text-darken-4">{{ evenement.nom }}</span>
                            <p class="activity-descr">{{ evenement.description }}</p>
                            <p class="date">{{ evenement.date|date("d/m/Y") }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ path('bde_evenement_view', {'id' : evenement.id}) }}">S'inscrire</a>
                            <p class="prix">{{ evenement.prix }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="row" id="futur">
            {% for evenement in listEvenement %}

                <div class="col l4 m6 s12 card-max">
                    <div class="card" style="overflow: hidden;">
                        <div class="card-image">
                            <img style="max-width: 100%; height: auto" src="../img/not_found.png">
                        </div>
                        <div class="card-content large">
                            <span class="card-title activator grey-text text-darken-4"></span>
                            <p class="activity-descr"></p>
                            <p class="date"></p>
                        </div>
                        <div class="card-action">
                            <a href="#">S'inscrire</a>
                            <p class="prix"></p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="row" id="propose">
            {% for evenement in listEvenement %}

                <div class="col l4 m6 s12 card-max">
                    <div class="card" style="overflow: hidden;">
                        <div class="card-image">
                            <img style="max-width: 100%; height: auto" src="../img/not_found.png">
                        </div>
                        <div class="card-content large">
                            <span class="card-title activator grey-text text-darken-4"></span>
                            <p class="activity-descr"></p>
                            <div class="choix date">
                                <p class="choix1"></p>
                                <p>Ou</p>
                                <p class="choix2"></p>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="#">S'inscrire</a>
                            <p class="prix"></p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>



    </div>
<div class="template-proposer" style="display: none">
    <div class="col l4 m6 s12 card-max">
        <div class="card" style="overflow: hidden;">
            <div class="card-image">
                <img style="max-width: 100%; height: auto" src="../img/not_found.png">
            </div>
            <div class="card-content large">
                <span class="card-title activator grey-text text-darken-4"></span>
                <p class="activity-descr"></p>
                <div class="choix date">
                    <p class="choix1"></p>
                    <p>Ou</p>
                    <p class="choix2"></p>
                </div>
            </div>
            <div class="card-action">
                <a href="#">S'inscrire</a>
                <p class="prix"></p>
            </div>
        </div>
    </div>
</div>
<div class="template-normal" style="display:none">
    <div class="col l4 m6 s12 card-max">
        <div class="card" style="overflow: hidden;">
            <div class="card-image">
                <img style="max-width: 100%; height: auto" src="../img/not_found.png">
            </div>
            <div class="card-content large">
                <span class="card-title activator grey-text text-darken-4"></span>
                <p class="activity-descr"></p>
                <p class="date"></p>
            </div>
            <div class="card-action">
                <a href="#">S'inscrire</a>
                <p class="prix"></p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock all %}