{% extends "layout.html.twig" %}
{% block stylesheets %}
  {{ parent() }}

  <link rel="stylesheet" href="{{ asset('css/activity_full.css') }}"/>

{% endblock stylesheets %}
{% block tittle %}<title>Evenement</title>{% endblock tittle %}


{% block all %}


<div id="contenu">


<div id="titre">
        <p>{{ evenement.nom }}</p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xs-push-3 col-sm-push-5" id="date">
            <div id="month">
                <p>
                    {% set mois = evenement.date|date("m")%}
                    {% if mois == "04" %}
                        Avril
                    {% elseif mois == "05" %}
                        Mai
                    {% elseif mois == "06" %}
                        Juin
                    {% elseif mois == "07" %}
                        Juillet
                    {% elseif mois == "08" %}
                        Aout
                    {% elseif mois == "09" %}
                        Septembre
                    {% elseif mois == "10" %}
                        Octobre
                    {% elseif mois == "11" %}
                        Novembre
                    {% elseif mois == "12" %}
                        Decembre
                    {% elseif mois == "01" %}
                        Janvier
                    {% elseif mois == "02" %}
                        Fevrier
                    {% elseif mois == "03" %}
                        Mars
                    {% endif %}
                </p>
            </div>
            <div id="day">
                <p>{{ evenement.date|date("d") }}</p>
            </div>
            <div id="hour">
                <p><span id="heure">{{ evenement.date|date("h") }}</span></p>
            </div>
        </div>
        <div class="col-xs-12 col-md-12" id="description">
            <p>{{ evenement.description }}</p>
        </div>
    </div>
    <div style="text-align: center"><img id="image" src="{{ asset(''~ evenement.photo ~'') }}"></div>
    {% if evenement.visibilite == 0 %}
    <div id="date-choix">
        <form action="" method="post">
            <input type="radio" name="choix" value="1">
            <span> OU </span>
            <input type="radio" name="choix" value="2">
        </form>
        <button>Soumettre</button>
    </div>
{% endif %}
    
    <div id="formulaire">

    </div>
    {% if evenement.date < date('-1days') and evenement.visibilite == 1 %}
    <div id="add-photo">
        <form method="post" action="">
            <label>Ajouter une image pour cette activité:</label>
            <input type="file" name="image" accept="image/*" style="margin: 15px 0">
            <input type="submit">
        </form>
    </div>
        {% endif %}
    {% if app.user != null %}
        {% set tmp = 0 %}
        {% for candidat in listCandidat %}
            {% if candidat.user.id == app.user.id %}
                {% set tmp = 1 %}
            {% endif %}
        {% endfor %}

        {% set cnt = 0 %}
        {% for like in listLike %}
            {% if like.user.id == app.user.id %}
                {% set cnt = 1 %}
            {% endif %}
        {% endfor %}
        {% if tmp == 0  %}
    <div class="row"><!--normal activity-->
        <div id="subscribe" class="col-xs-6 col-md-10 col-sm-8 col-sm-push-1"><button class="btn-red button-rounded button-outline" onClick="document.location.href='{{ path('bde_inscription_activite', {'id' : evenement.id}) }}'">S'inscrire à l'activité</button></div>
        {% if cnt == 0  %}
        <div id="likebar" class="col-xs-6 col-md-2 col-sm-4">
            <div id="like"><a class="material-icons" href="{{ path('bde_like_activite', {'id' : evenement.id}) }}">thumb_up</a></div> 
        </div>
        {% else %}
            <p style="text-align:center;">Déjàdd   Aimé !</p>
        {% endif %}
    </div>
    {% else %}
        <div class="row"><!--normal activity-->
            <p style="text-align:center;">Vous êtes déjà inscrit à cette activité, actuellement il y'a {{ listCandidat|length }} inscrit(s).</p>
            
        
        {% if cnt == 0  %}
        <div id="likebar" class="col-xs-6 col-md-2 col-sm-4">
            <div id="like"><a class="material-icons" href="{{ path('bde_like_activite', {'id' : evenement.id}) }}">thumb_up</a></div>    
        </div>
        {% else %}
            <p style="text-align:center;">Vous avez déjà aimé cette activité, actuellement il y'a {{ listLike|length }} j'aime.</p>
        {% endif %}
    </div>

{% endif %}
    <hr width="90%" color="#000000">
    <div id="comment">
        <div id="comment-zone">
            {% for commentaire in listCommentaire %}
            <div class="comment-user">
            <div class="user">
                <p>{{commentaire.user.username}}</p>
            </div>
            <div class="user-comment">
                <p>{{commentaire.description}}</p>
            </div>
        </div>
    {% endfor %}
        </div>
        <form method="post" action="{{ path('bde_commentaire_activite', {'id' : evenement.id}) }}">
            <div id="comment-add" class="form-group">
                <label for="txtcomment">Commenter:</label>
                <input type="text" name="textcomment" rows="5" id="txtcomment" class="form-control">
                
                <br/>
                <input type="submit" value="Commenter">
            </div>
        </form>
    </div>
{% else %}
    <p style="text-align:center;">Merci de vous inscrire ou vous connectez avant d'utiliser l'inscription aux activités</p>
{% endif %}

</div>

{% endblock all %}