<head>
{% block stylesheets %}

	<link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}
</head>
{% block body %}
	<body>
		<h4>coucou</h4>
		{% for carousel in tabcarousel %}
			<h1>Bonjour {{ carousel.id }}</h1>
			<img src="{{ asset(carousel.path) }}">
			<h3>Modifier cette image</h3>
			<form action="" method="post">
    			{{ form_widget(form) }}
			</form>
			<form action="{{ path('bde_admin_edit_carousel', {'id' : carousel.id}) }}">
				<input type="submit" value="Modifier cette image">
		</form>
		{% endfor %}
		<!--<div class="well">
  			<h1>Upload File</h1>
				<form action="" method="post" {{ form_start(form) }}>
    				{{ form_widget(form) }}
				</form>
		</div>-->
	</body>
	
{% endblock body %}