{% extends "layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/asso.css') }}" rel="stylesheet">
{% endblock stylesheets %}
{% block tittle %}<title>Asso's</title>{% endblock tittle %}

{% block all %}
	<div id="contenu">
    
     

 <div id="Allassos">
    <nav>
        <div id="menugauche">
            <div id="recherche">
                 <div id="wrapper">
                    <div id="sidebar-wrapper">
                                    
        	
                    	{% for association in listAssociations %}

                            <ul class="sidebar-nav">
                                <a href="{{ path('bde_view_association_detail', {'id' : association.id}) }}">
                                    {{ association.nom }}
                                </a>
                            </ul>
                    	{% endfor %}
            

                    </div>
                </div>
            </div>
        </div
     </nav>
     
        <div class="CompletAsso" >

        		{% for association in listAssociations %}       	
            



           <div class="Ass">
                     
                <div  style=" min-height: 100%; text-align: center;  border-bottom: 0.5px  solid gray; margin-left: 35%; margin-right: 35%; " >
                        <h2>
                            {{association.nom}}
                        </h2>

                </div> 
                   <div class="row" style="display: block; margin:10px;  vertical-align: middle; ">
                                
                        <div  class="col-md-10 text"  >
                            <div>
                                <p>
                                    {{ association.description }}
                                </p>
                            </div>
                        <div style="float: right;"> 
                            <ul>
                                <a href="{{ path('bde_view_association_detail', {'id' : association.id}) }}">   
                                <span class="glyphicon glyphicon-plus-sign"></span> 
                                </a>
                            </ul>
                        </div>
                    </div>

                      <div class="col-md-2" align="center" style="display: flex; flex-direction: column; justify-content: center; margin:0 auto;" >
                      <img src="{{ asset(''~ association.logo ~'') }}" class="timage">
                      </div>
                </div>
                </div>
                <div  style="border-bottom: 1px solid gray; margin-right: 5%;margin-left: 5%;" ></div>
                 </div>



        	{% endfor %}

                

      
        </div>


           
       </div>
     
   </div>
{% endblock all %}

