{% extends "layout.html.twig" %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/Boutique.css') }}"/>
  <link rel="stylesheet" href="{{ asset('css/snackbar.css') }}"/>
  <script rel="text/javascript" src="{{ asset('js/Boutique.js') }}"></script>
  <script rel="text/javascript" src="{{ asset('js/snackbar.js') }}"></script>

  
{% endblock stylesheets %}
{% block tittle %}<title>Boutique</title>{% endblock tittle %}


{% block all %}
    <script>
    function ajaxCall(fk_id)
    {

        $.ajax({
            url: "{{ path('bde_add_panier') }}",
            method: "post",
            data: {id: fk_id},
            success: function(data)
            {
                show_snackbar(data);
                //alert(data);
            }
        });
    }



    </script>
    <div id="snackbar"></div>
	 <div id="contenu">
        <div class="row magasin">
            <div id="recherche" class="col-xs-12 col-sm-3" style="display: table-cell;">
                <div id="menu" style="border:none; background-color:white;">
                    <nav>
                        <div id="menugauche">
                            <div id="wrapper">
                                <div id="sidebar-wrapper">
                                    <ul class="sidebar-nav">
                                        <li style="border:none;"><a href="{{ path('bde_boutique') }}">Voir tous les articles</a></li>
                                        {% for categorie in listCategorie %}
                                        <li style="border:none;"><a href="{{ path('bde_boutique_categorie', {'cat' : categorie.nom}) }}">{{ categorie.nom }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="catalogue" class="col-xs-12 col-sm-9" style="display: table-cell; border-left: solid 1px black;">
                {% for produit in listProduit %}
                <div class="col-xs-12 col-sm-6 col-md-4" style="padding: 0">
                        <div class="article">
                            <div class="article-contenu">
                                <div class="article-img">
                                    <img src="{{ asset(''~ produit.image ~'') }}">
                                </div>
                                <div class="article-info">
                                    <h4 align="center">{{ produit.nom }}</h4>
                                    <div class="article-description">
                                        <p>{{ produit.description }}</p>
                                    </div>
                                    <div class="prix-stock">
                                        <div class="prix">{{ produit.prix }}</div>
                                        

                                        {% if produit.stock == 0 %}
                                            <div class="stock stck-no"></div>
                                        {% else %}
                                            <div class="stock stck-yes"></div>
                                        {% endif %}


                                        
                                    </div>


                                    <div class="btn-achat" style="height:35px;">
                                        {% if produit.stock == 0 %}
                                        <button style="visibility:hidden; " class="achat"></button>
                                    {% else %}
                                      
                                        <button type"button" class="achat" onclick="ajaxCall({{ produit.id }})">Ajouter au panier</button>
                         
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock all %}






